<main class="container d-flex">
  <div class="p-4 p-md-5 mb-4 mt-3 rounded text-body-emphasis bg-body-secondary home-card">
  <div class="col-lg-6 px-0">
    <h1 class="display-4 fst-italic text-white">Apresentação Profissional</h1>
    <p class="lead my-3">
      Olá! Meu nome é Diego Santos.
      Sou formado em Analise e Desenvolvimento de Sistemas pela Universidade UNIP Paulista. {{ emoji }}
    </p>
    <p class="lead">
      Atualmente atuo como desenvolvedor Full Stack com sólida experiência no desenvolvimento de aplicações web,
      tanto no Front-End quanto no Back-End, com foco em performance, segurança e boas práticas de arquitetura de software.
    </p>
    <p class="lead mb-0 link" routerLink="portifolio/curriculo">
      Continue lendo...
    </p>
  </div>
</div>

<div class="col-sm-6 col-md-6 col-lg-6 ms-2 card-weather">
  <app-weather-page></app-weather-page>
</div>
</main>
