<main class="container mb-3">
  <div class="resume w-100 d-flex">
    <div class="side-resume col-sm-3 col-md-3 col-lg-3 mt-2">
      <div class="mt-5">
        <img src="assets/images/foto_perfil.jpeg" alt="Foto Perfil" class="foto">
      </div>
      <div class="contact mt-5 ms-3">
        <h5 class="text-white fst-italic">
          CONTATO
        </h5>
        <hr class="text-white me-3 line fw-bold" />
      </div>
      <div class="contact-info mt-3">
        <div class="group phone d-flex align-items-center justify-content-center">
          <i class="bi bi-telephone text-white"></i>
          <span class="text-white ms-3 formacao">{{ phoneNumber }}</span>
        </div>
        <div class="group email mt-2 d-flex align-items-center justify-content-center">
          <i class="bi bi-envelope-at text-white"></i>
          <a href="mailto:diegopimenta.ds@hotmail.com" class="text-white ms-3 formacao">{{ email }}</a>
        </div>
        <div class="group location mt-2 d-flex align-items-center justify-content-center">
          <i class="bi bi-geo-alt text-white"></i>
          <span class="text-white ms-3">{{ location }}</span>
        </div>
        <div class="group linkedin mt-2 me-2 d-flex align-items-center justify-content-center">
          <i class="bi bi-linkedin text-white"></i>
          <a  target="_blank" href="https://github.com/diegods26" class="text-white ms-3 formacao">{{ linkedin }}</a>
        </div>
      </div>

      <div class="contact mt-4 ms-3">
        <h5 class="text-white fst-italic">
          FORMAÇÃO
        </h5>
        <hr class="text-white me-3 line fw-bold" />
        <div class="contact-info mt-3">
          <div class="group phone d-flex align-items-center justify-content-center">
          <p class="text-white ms-3 formacao fst-italic">{{ education }}</p>
          </div>
          <div class="group phone d-flex align-items-center justify-content-center">
          <p class="text-white ms-3 formacao">{{ college }}</p>
          </div>
        </div>
      </div>

      <div class="contact mt-3 ms-3">
        <h5 class="text-white fst-italic">
          SKILLS
        </h5>
        <hr class="text-white me-3 line fw-bold" />
        <div class="contact-info mt-3">
          <div class="group phone d-flex align-items-center justify-content-center">
          <p class="text-white ms-3 formacao fst-italic">{{ skills }}</p>
          </div>
        </div>
      </div>

      <div class="contact mt-2 ms-3">
        <h5 class="text-white fst-italic">
          CERTIFICAÇÕES
        </h5>
        <hr class="text-white me-3 line fw-bold" />
        <div class="contact-info mt-3 certifications">
          <div class="group phone d-flex align-items-center justify-content-center">
          <p class="text-white ms-3 formacao fst-italic">{{ certifications }}</p>
          </div>
        </div>
      </div>

      <div class="contact mt-2 ms-3">
        <h5 class="text-white fst-italic">
          IDIOMAS
        </h5>
        <hr class="text-white me-3 line fw-bold" />
        <div class="contact-info mt-3 certifications">
          <div class="group phone" style="width: 140px;">
            <p class="text-white ms-3 formacao fst-italic">Português - Nativo</p>
            <p class="text-white ms-3 formacao fst-italic">Inglês - C2</p>
          </div>
        </div>
      </div>
    </div>

    <div class="resume-body col-sm-8 col-md-8 col-lg-8 mt-2">
      <div class="title mt-5">
        <h2 class="fst-italic"><b>DIEGO</b> P. DOS SANTOS</h2>
        <h5 class="">DESENVOLVEDOR FULL STACK</h5>
      </div>
      <div class="resume-body-content container">
        <div class="group">
          <h5 class="fst-italic color">
            PERFIL
          </h5>
          <hr class="line">
          <p class="ps-3 pe-3">
            Atuo como desenvolvedor Full Stack. Com experiência no
            desenvolvimento de soluções web: Front-End, Back-End,
            APIs e Banco de dadosl.
            Minha experiência inclui trabalhar com C# ASP .NET Core
            Angular, React.js, JavaScript, TypeScript, SQL Server, Azure
            Devops, Design Patterns e muitas outra tecnologias.
            Nível de proeficiência em inglês C1 (Avançado).

          </p>
        </div>

        <div class="group mt-5">
          <h5 class="fst-italic color">
            EXPERIÊNCIA PROFISSIONAL
          </h5>
          <hr class="line">
          <div class="ps-3 pe-3">
            <p class="fst-italic"><b>Application Developer</b></p>
            <p class="subtitle">IBM, Brazil | Maio 2025 - Atual</p>
            <p>Responsabilidades:</p>
            <p class="subtitle">
              Desenvolver e manter aplicações robustas com foco em soluções de nível empresarial
              usando Angular e Java Spring Boot.
              Contribuir para a arquitetura de microsserviços e integração de APIs, garantindo design de software escalável
              e modular.
              Colaborar em equipes ágeis, aplicando a metodologia Scrum para priorizar tarefas e
              aumentar a eficiência da entrega.
              Utilizar práticas de DevOps, incluindo pipelines de CI/CD e controle de versão baseado em Git
              para implantações otimizadas.
              Conquistas:
              Liderou a integração do Java Spring Boot em sistemas legados,
              aumentando a flexibilidade e o desempenho do sistema.
              Aprimorou a confiabilidade das aplicações refatorando bases de código para seguir os princípios da Clean
              Architecture e SOLID.
            </p>
          </div>
          <hr class="subline">
          <div class="ps-3 pe-3">
            <p class="fst-italic"><b>Software Developer II</b></p>
            <p class="subtitle">Capgemini, Brazil | Junho 2023 - Maio 2025</p>
            <p>Responsabilidades:</p>
            <p class="subtitle">
              Atuar no desenvolvimento back-end do sistema e-CPF para a Secretaria da Fazenda de São Paulo
              utilizando C#, ASP.NET Core, ORM e SQL Server.
              Desenvolver APIs RESTful para integração interna do sistema.
              Participar de processos Agile utilizando o Azure DevOps para rastreamento de tarefas e
              CI/CD.
              Conquistas:
              Aprimorar o desempenho e a segurança do sistema, contribuindo para uma implementação bem-sucedida
              em um ambiente governamental crítico.
              Promover a qualidade e a manutenibilidade do código por meio da aplicação de DDD e
              Clean Architecture.
            </p>
          </div>
          <hr class="subline">
          <div class="ps-3 pe-3">
            <p class="fst-italic"><b>Software Developer I</b></p>
            <p class="subtitle">Capgemini, Brazil | Agosto 2022 - Julho 2023</p>
            <p>Responsabilidades:</p>
            <p class="subtitle">
              Desenvolvimento do front-end
              incluindo: telas, menus de usuário, serviços e testes
              de usabilidade do sistema e-CPF. Aplicativo de
              gerenciamento e controle de agendamento e
              liberação de perfis de acesso para a Secretário da
              Fazenda de São Paulo.
              O front-end édesenvolvido usando Angular,
              Typescript, Javascript, HTML, CSS.
              Controle de versão com Git.
              Azure DevOps, CI/CD
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
